.buttonText {
  align-self: stretch;
  flex: 1;
  position: relative;
  letter-spacing: 0.5px;
  line-height: 100%;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttonShape {
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  width: 214px;
  height: 82px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.buttonsmallsmall {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--reg-medium-size);
  color: var(--color-black);
  font-family: var(--hfb-extra-small);
}
