.header {
  border-bottom: 2px solid var(--color-black);
  box-sizing: border-box;
  height: 193px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-xl) var(--padding-3xs);
  align-self: stretch;
}
