.imageDetailsRow {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-smi) var(--padding-67xl) var(--padding-smi)
    var(--padding-4xl);
}
