.linkFooterContainer,
.linkfooter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.linkfooter {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.5px;
  line-height: 100%;
  font-weight: 500;
  color: inherit;
  width: 86px;
  flex-shrink: 0;
}
.linkFooterContainer {
  flex-direction: row;
  padding: var(--padding-3xs);
  text-align: center;
  font-size: var(--hfb-extra-small-size);
  color: var(--color-black);
  font-family: var(--hfb-extra-small);
}
